.card {
    background-color: rgb(255, 255, 255);
}

#contentTextArea {
    min-height: 76vh;
    resize: none;
    overflow-y: scroll;
}

#contentTextArea::-webkit-scrollbar {
    width: 1em;
}
 
#contentTextArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#contentTextArea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#menuContainer {
    height: 87vh;
    overflow-y: scroll;
    /* background-color: grey;
    color: white; */
}

#menuContainer button:not(.dontStyleBtn, #button-addon2) {
    border: none;
    height: 100%;
    width: 100%;
}

#menu-container button.btn:active {
    box-shadow: none !important;
}
#menu-container button.btn:focus {
    box-shadow: none !important;
}

.list-group-item {
    border: none;
    padding: 0;
}

#menuContainer div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#menuContainer::-webkit-scrollbar {
    width: 1em;
}
 
#menuContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#menuContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#button-addon2 {
    width: 30%;
    border: 1px solid rgb(196, 193, 193);
}

input.form-control {
    width: 70%;
    border: 1px solid rgb(196, 193, 193);
    border-right: none;
}
