.card {
    background-color: rgb(255, 255, 255);
}

.doc-class {
    background-color: rgb(98, 199, 98);
}

#contentTextArea {
    min-height: 76vh;
    resize: none;
    overflow-y: scroll;
}

#contentTextArea::-webkit-scrollbar {
    width: 1em;
}
 
#contentTextArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#contentTextArea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#menuContainer {
    height: 87vh;
    overflow-y: scroll;
}

#menuContainer div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#menuContainer::-webkit-scrollbar {
    width: 1em;
}
 
#menuContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#menuContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
